@font-face {
  font-family: "iconfont"; /* Project id 4552120 */
  src: url("//at.alicdn.com/t/c/font_4552120_d2g3m5ozlt.woff2?t=1716027104287")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4552120_d2g3m5ozlt.woff?t=1716027104287")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4552120_d2g3m5ozlt.ttf?t=1716027104287")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yue:before {
  content: "\e69e";
}

.icon-logout:before {
  content: "\e64b";
}

.icon-jinrujiantou:before {
  content: "\e799";
}
